<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Planor</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/plasma.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">

  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="../static/css/style.css" rel="stylesheet">

   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
  a{
    text-decoration: none;
  }
</style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center shadow">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        
        
        <h1 class="text-light"><a href="/" style="color:#f3133c"><span style="color:#f3133c"><b>Plasma Donor</b></span></a><br><img src="https://cdn.dribbble.com/users/2168473/screenshots/4635279/blood-donate.gif" style="width: 100px";
          "height: 100px";></h1>
        
      </div>

      <nav id="navbar" class="navbar" >
        <ul>
          <li><a class="nav-link scrollto" href="/" style="color:aliceblue">Home</a></li>
          <li><a class="nav-link scrollto" href="#services" style="color:aliceblue">Services</a></li>
          <li><a class="nav-link scrollto" href="/request" style="color:aliceblue">Request</a></li>
          <li><a class="nav-link scrollto" href="/donor_registration" style="color:aliceblue">Donate</a></li>
          <li><a class="nav-link scrollto" href="/sign_in" style="color:aliceblue">SIgn In</a></li>
          <li><a class="nav-link scrollto" href="/sign_up" style="color:aliceblue">Sign Up</a></li>
          <li><a class="nav-link scrollto" href="/logout" style="color:aliceblue">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <style>
      .nav{
       color:white;}</style>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 class="plasma">" Be the reason for someone’s heartbeat "</h1><style>.plasma{font-family:Monotype Corsiva;font-size: 20px;}</style>
          
          <div>
            <img src="https://media4.giphy.com/media/xUA7biF7n8LcAqh4bK/giphy.gif"/>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="https://media.istockphoto.com/id/1201142336/photo/donate-writes-over-red-heart-shapes-hanging-over-red-background.jpg?b=1&s=170667a&w=0&k=20&c=F3q6lPF71FaG-WhK4J0FlYBSms_L4Vy4Q8kPbX0x7lc=" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

 

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg justify-content-center w-100">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check out the great services we offer</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Donor Database</a></h4>
              <p class="description">We provide reliable information about donors</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Serving Patients</a></h4>
              <p class="description">Finding the nearest donor</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Instant notification</a></h4>
              <p class="description">We notify the donor instantly upon receiving a request</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->

 

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">We can I contact donor?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Make a request using the request section. The requests will be received by the donors residing in your city. Once they accept the request you will be notified with their contact details 
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How to donate plasma?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
               Register yourself as a donor in our site. Start accepting the requests and donate
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->





  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">



    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Plasma donor</h3>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/donate">Donate</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/request">Request plasma</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/profile">Profile</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="">Donor Information</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Serving Patients</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="">Instant Notification</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4" style="background-color:#f3133c">
      <div class="copyright">
        &copy; Copyright <strong><span>Plasma donor</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

 

  <!-- Vendor JS Files -->
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "efa7ebc0-d274-45b3-9cbc-3294780d6ce2", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "f758b8a5-581d-449c-9f3f-390fc7b7d3ff", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>
</body>

</html>